<!DOCTYPE html>
<html>
<head>
    <title>Item List</title>
    <link rel='stylesheet' href='/stylesheets/commonList.css' />
</head>
<body>
<div class="container">
        <h1>Item List</h1>
        <table>
            <tr>
                <th>Category</th>
                <th>Title</th>
                <th>Description</th>
                <th>Active</th>
                <th>Actions</th>
            </tr>
            <% items.forEach(item => { %>
            <tr>
                <td><%= item.category.title %></td>
                <td><%= item.title %></td>
                <td><%= item.description %></td>
                <td><%= item.active ? 'Yes' : 'No' %></td>
                <td>
                    <a href="/item/update/<%= item._id %>">Update</a> |
                    <a href="/item/delete/<%= item._id %>">Delete</a>
                </td>
            </tr>
            <% }); %>
        </table>
        <a class="add-button" href="/item/add">Add Item</a>
    </div>
</body>
</html>
