<!DOCTYPE html>
<html>
<head>
    <title>Category List</title>
    <link rel='stylesheet' href='/stylesheets/commonList.css' />
</head>
<body>
    <div class="container">
        <h1>Category List</h1>
        <table>
            <tr>
                <th>Title</th>
                <th>Description</th>
                <th>Active</th>
                <th>Actions</th>
            </tr>
            <% categories.forEach(category => { %>
            <tr>
                <td><%= category.title %></td>
                <td><%= category.description %></td>
                <td><%= category.active ? 'Yes' : 'No' %></td>
                <td>
                    <a href="/category/update/<%= category._id %>">Update</a> |
                    <a href="/category/delete/<%= category._id %>">Delete</a>
                </td>
            </tr>
            <% }); %>
        </table>
        <a class="add-button" href="/category/add">Add Category</a>
    </div>
</body>
</html>
